body {
    margin: 0; 
    display: flex;
  /* This centers our sketch horizontally. */
  justify-content: center;
  /* This centers our sketch vertically. */
   align-items: center;
}
canvas { 
    min-width: 100%;
    width: 100%;
    height:auto; 
    max-height: 100vh;

}
