body {
    margin: 0; 
    display: flex;
  /* This centers our sketch horizontally. */
  justify-content: center;
  /* This centers our sketch vertically. */
   align-items: center;
}

canvas { 
    min-width: 100%;
    width: 100%;
    height:auto; 
    max-height: 100vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(244,244,244,0.1);
    /*#333;*/
    opacity: 1;
    /*right: 26.5%;*/
    align-content: center;
    position: absolute;
    bottom:0;
    width: auto;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
